

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.visit__container {
    background-image: url(./assets/Medina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #FFFFFF;
    background-color: #7082AB;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 30px;
}


.visit__desc {
    color: #FFFFFF;
    background-color: #585B65;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 20px;
}