body {
    margin: 0;
    text-align: center;
}



.visit__container {
    background-image: url(./assets/Medina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

