

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.visit__container {
    background-image: url(./assets/Medina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #FFFFFF;
    background-color: #7082AB;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 30px;
}


.visit__desc {
    color: #FFFFFF;
    background-color: #585B65;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 20px;
}

.activity__section {
    padding: 20px 0;
    background-color: #C8C0AA;
    height: 100%;
    margin: 0;
}


.Top__activity {
    color: #4D5163;
}

.activity__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.activity {
    padding: 10px 30px;
}


.activity__img1 {
    width: 400px;
    height: 300px;
    clip-path: circle();
}

.activity__img2 {
    width: 400px;
    height: 300px;
    clip-path: circle();
}



.activity__img3 {
    width: 400px;
    height: 300px;
    clip-path: circle();
}



.activity__title {
    color: #4D5163;
    font-size: ;
}


.activity__desc {
    color: #5775A6;
}


.card__section {
    margin: 100px 0;
    padding: 20px;
    height: 650px;
    border: 1px solid red;
    display: flex;
}


.chad__img {
    width: 150px;
}